:root {
  --color-1: #333;
  --color-2: #dcdf52;
  --color-3: #eee;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Helvetica;
  line-height: 24px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  max-width: 800px;
  margin: auto;
}

button {
  cursor: pointer;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------------------------- */

.datos {
  padding: 50px;
}